apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: ingressrequests.k11n.dev
spec:
  group: k11n.dev
  names:
    kind: IngressRequest
    listKind: IngressRequestList
    plural: ingressrequests
    singular: ingressrequest
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: IngressRequest is the Schema for the ingressrequests API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: IngressRequestSpec defines the desired state of IngressRequest
          properties:
            hosts:
              items:
                type: string
              type: array
            port:
              format: int32
              type: integer
          required:
          - hosts
          type: object
        status:
          description: IngressRequestStatus defines the observed state of IngressRequest
          properties:
            address:
              type: string
            message:
              type: string
          required:
          - address
          - message
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
